{% extends "base.html" %}

{% block content %}
    <div class='row'>
        <div class='col-lg-offset-4 col-lg-4'>

            <h1>GMAA Playlist Sharing</h1>
            <p>Website dedicated to share your public Google Music All
                Access playlists with other people.</p>

            <h2>Suggestions</h2>
            <p>Feel free to send me your suggestions: aespinosamoreno
                [AT] gmail [DOT] com</p>

            <h2>Source code</h2>
            <p>If your interested in the source code, you can check it at
            <a href='https://github.com/aesptux/gmaa-playlists'>Github</a>
            </p>
        </div>
    </div>


{% endblock %}